* {
    font-family: Microsoft JhengHei;
}

body {
    --background-color: #e9ecf1;
    background-color: var(--background-color);
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 6vh;
    padding: 0px;
    background-color: #4472C4;
}

.nav-item {
    min-width: 12vw;
    text-align: center;
}

.nav-link {
    font-weight: bold;
    color: white;
    height: 6vh;
    font-size: 1.2em;
}

.nav-active {
    color: #4472C4;
    background-color: var(--background-color);
}

#navbar-brand {
    position: absolute;
    min-width: 12vw;
    right: 1vw;
    cursor: pointer;
}

#navbar-brand > a {
    font-weight: bolder;
    font-size: 1.2em;
    color: white;
}

#navbar-brand > a:hover {
    color: black;
}

.home-top {
    margin-top: 6vh;
    margin-bottom: 4vh;
    height: 10vh;
    text-align: center;
    overflow: hidden;
    background-color: black;
}

#ww_04a1b20ec59db {
    color: black;
}

#ww_04a1b20ec59db > a {
    visibility: hidden;
}

.home-bottom {
    display: flex;
    height: 80vh;
}

.google-map {
    margin-left: 4vw;
    margin-right: 4vw;
    width: 52vw;
    height: 76vh;
}

.home-right {
    width: 40vw;
    height: 76vh;
    padding-right: 4vw;
}

.search-box-container {
    display: block;
    width: 100%;
    height: 8%;
}

.form-control {
    padding-left: 2.375rem;
}

.form-control-feedback {
    position: absolute;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #777;
}

#btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
}

#submit-btn {
    width: 49.5%;
    color: white;
    font-weight: bold;
    background-color: green;
    border-width: 0px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: rgb(0, 48, 0);
}

@keyframes move-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10%);
    }
}

#submit-btn:active {
    animation: move-down 0.1s forwards;
}

#reset-btn {
    width: 49.5%;
    color: white;
    font-weight: bold;
    background-color: red;
    border-width: 0px;
    cursor: pointer;
}

#reset-btn:hover {
    background-color: rgb(175, 0, 0);
}

#reset-btn:active {
    animation: move-down 0.1s forwards;
}

#search-results {
    width: 100%;
    height: 82%;
    overflow: auto;
    margin-top: 2%;
}

#search-results::-webkit-scrollbar {
    display: none;
}

#result {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

#result:last-child {
    margin-bottom: 0%;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.graph-row {
    position: relative;
    display: flex;
    width: 90vw;
    height: 600px;
    margin-left: 5vw;
    margin-bottom: 5vh;
}

.graph {
    display: block;
    width: 60%;
    height: 100%;
}

.explanation {
    width: 40%;
    padding-left: 2em;
    font-weight: bold;
}

.hide {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%;
    height: 37px;
    background-color: var(--background-color);
}

.no-underline {
    text-decoration: none;
}

#eda-title {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11vh;
    margin-bottom: 5vh;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

#eda-conclusion {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    font-weight: bold;
    font-size: 1.2em;
}